// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.search {
//  width: 580px !important;
//  input {
//    width: 480px !important;
//  }
//}
.pr_discount {
  color: red;
}
.header_menu{
  background-color: #55B4DB;
}
.menu{
  position: fixed !important;
  z-index: 1;
}
.mg-top {
  margin-top: 60px;
  width: 100%;
  display: inline-block;
  .col-xs-2 {
    padding-left: 0
  }
}
.menu-left {
  white-space: nowrap;
  li {
    list-style: none;
  }
}
.pr_discount {
  .col-xs-4 {
    text-align: center;
  }
}
.title_big {
  border-top: 2px solid red;
  .col-xs-2 {
    height: 88px;
  }
  .col-xs-9 {
    width: 83%;
  }
  a {
    color: #fff;
  }
  img {
    margin-top: 10px;
  }
  h5.title {
    display: inline;
    color: white;
    font-size: 15px;
    position: relative;
    top: 5px;
    left: 25px;
  }
}
.category {
  h5 {
    font-size: 12px;
  }
  display: inline-flex;
  .ct2 {
    width: 105px;
    text-align: center;
  }
}
.fashion {
  border-top: 2px solid #f8b93e;
  .col-xs-2 {
    background-color: #f8b93e;
    height: 88px;
  }
  a {
    color: #fff;
  }
  img {
    margin-top: 10px;
  }
  h5.title {
    display: inline;
    color: white;
    font-size: 15px;
    position: relative;
    top: 5px;
    left: 25px;
  }
}
.container {
  width: 1170px !important;
}
.search {
  display: inline-flex;
  width: 100% !important;
  .btn-default {
    margin-left: 5px;
    height: 33px !important;
  }
  .form-group {
    width: 100%;
    .form-control {
      width: 100%;
      height: 33px !important;
    }
  }
}
.list0 { background-color: red !important; }
.list1 { background-color: #55B4DB !important;}
.list2 { background-color: yellow !important; }
.list3 { background-color: green; }
.list4 { background-color: orangered; }
.list5 { background-color: pink; }

li {
  input {
    height: 30px !important;
  }
}
.btn-default {
  height: 33px !important;
}

.sale_off {
  margin-left: 5px;
  background-color: red;
  color: #fff;
  font-size: 15px;
}
.product_image {
  border-style: ridge;
}
.counter {
  color: #fff;
  background-color: #ff0000;
  padding: 2px 8px;
  border-radius: 48%;
  font-size: 13px;
  position: relative;
  top: -8px;
  left: -7px;
}